<div class="container-fluid">
	<div class="row">
		<div class="title_section vertical_padding col-md-12">
			<h1>Join Alpha Kappa Psi</h1>
			<div class="seperator"></div>
			<h2>Redefine Excellence</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="padding-top: 35px; padding-bottom: 35px">
			<p> At the beginning of each semester, Alpha Kappa Psi holds recruitment events for potential new members to learn about the fraternity and assess if applying to join is the right move for them. To do so, the fraternity holds information sessions and workshops, all of which wrap up with time for networking between potential new members and current brothers. 
			</p>
		</div>
		
		<!-- This is the link to sign up for recruitment events. -->
		<div class="row vertical_padding">
			<div class="col-md-4 col-md-offset-4">
				<a href="https://forms.gle/mmHVz9hCHsa8AT69A" style="text-decoration: none"><p class="button text-center">Sign up for Recruitment!</p></a>
			</div>
		</div>
	</div>

	<!-- This is a map for recruitment events. In Fall 2020, recruitment was virtual so the map was removed. The code remains for future recruitment cycles. To add a location, you must login to the 
		website admin portal, go to Event Locations, and add a new location. 
	<div class="">

		<div class="row">
			<div class="col-md-12" style="padding-right: 0; padding-left: 0">
				<div id="map-canvas" style="height: 400px; width: 100%;"></div>
			</div>
		</div>
	-->

		<div class="row vertical_padding" style="padding-bottom: 0">
			<div class="col-md-12">
				<h2><strong>Recruitment Events</strong></h2>
				<div class="seperator"></div>
			</div>
		</div>
		
	
		{% if events|length > 0 %}

		<div class="vertical_padding">
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<h2><strong>{{events.0.name}}</strong> {{events.0.start_time|date:"D, N d"}}</h2>
					<h4>
					{{events.0.location}} | {{events.0.start_time|date:"f"}}-{{events.0.end_time|date:"f A"}}</h4>
				</div>
				<div class="col-md-5">
					<h2><strong>{{events.1.name}}</strong> {{events.1.start_time|date:"D, N d"}}</h2>
					<h4>
					{{events.1.location}} | {{events.1.start_time|date:"f"}}-{{events.1.end_time|date:"f A"}}</h4>
				</div>
			</div>
			<div class="row justify-content-center" style="margin-top:10px;">
				<p class="col-md-10 col-md-offset-1">{{events.0.description|safe}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="table_seperator"></div>
			</div>
		</div>
	
		<div class="row vertical_padding">
			{% for event in events|slice:"2:" %}
			<div class="col-md-5{% cycle ' col-md-offset-1' '' %}">
				<h2><strong>{{event.name}}</strong> {{event.start_time|date:"D, N d"}}</h2>
				<h4>{{event.location}} | {{event.start_time|date:"f"}}-{{event.end_time|date:"f A"}}</h4>
				<p style="margin-top: 10px;">{{event.description|safe}}</p>
			</div>
			{% endfor %}
		</div>


		{% else %}

		<div class="vertical_padding">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center"><i>Stay tuned for an updated list of events!</i></p>
				</div>
			</div>
		</div>

		{% endif %}

	</div>
</div>

<script>
function initMap() {

	var map = new google.maps.Map(document.getElementById('map-canvas'), {
		zoom: 16,
		center: new google.maps.LatLng({{center.lat}}, {{center.lng}}),
		scrollwheel: false,
	});
	var markers = [];
	var marker = null;
	var infoWindow = null;

	{% for building, text in markers.items %}
	marker = new google.maps.Marker({
		position: new google.maps.LatLng({{building.lat}}, {{building.lng}}),
		map: map,
		title: ''
	});
	markers.push(marker);

	infoWindow = new google.maps.InfoWindow({
		content: "<div class='text-center'>{{text|safe}}</div>",
	});

	infoWindow.open(map,marker);
	{% endfor %}

	google.maps.event.addListener(map, 'bounds_changed', function() {
		for (var i = 0; i < markers.length; i++) {
			marker = markers[i];
			while (!map.getBounds().contains(marker.getPosition())) {
				map.setZoom(map.getZoom()-1);
			}
		}
	});

}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEnbgfKOq6iHuFxK6ItBcS9Yn4_KF5sJo&callback=initMap"
async defer></script>
