<div class="center vertical_padding title_section">
	<h1>Recruitment Sign-Up</h1>
	<div class="seperator"></div>
	<h2>{{ title }}</h2>
</div>

{% if success_error_msg %}
<p class='centered_text'><i>{{success_error_msg}}</i></p>
{% endif %}

<div class="vertical_padding center rushForm">
	<form style="text-align:center; width: 60%; margin: 0 auto;" id="rushForm" method="POST">
		{% csrf_token %}
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo" style="display:none">
			<input class="mdl-textfield__input" type="text" id="rushChannel" name="rushChannel" hidden="hidden" value="{{ title }}" />
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input class="mdl-textfield__input" type="text" id="rushFirstName" name="rushFirstName" />
			<label class="mdl-textfield__label" for="sample1">First Name</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input class="mdl-textfield__input" type="text" id="rushLastName" name="rushLastName" />
			<label class="mdl-textfield__label" for="sample1">Last Name</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input class="mdl-textfield__input" type="text" id="rushEmail" name="rushEmail"/>
			<label class="mdl-textfield__label" for="sample1">E-Mail (@bu.edu)</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input class="mdl-textfield__input" type="number" id="rushPhone" name="rushPhone"/>
			<label class="mdl-textfield__label" for="sample1">Phone Number</label>
		</div>

		<table class="rush_grade">
			<tr>
				<td><p>Grade:</p></td>
				<td>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-freshman">
						<input type="radio" id="option-freshman" class="mdl-radio__button" name="rushGrade" value="FR">
						<span class="mdl-radio__label">Freshman</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-sophomore">
						<input type="radio" id="option-sophomore" class="mdl-radio__button" name="rushGrade" value="SO">
						<span class="mdl-radio__label">Sophomore</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-junior">
						<input type="radio" id="option-junior" class="mdl-radio__button" name="rushGrade" value="JR">
						<span class="mdl-radio__label">Junior</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-senior">
						<input type="radio" id="option-senior" class="mdl-radio__button" name="rushGrade" value="SR">
						<span class="mdl-radio__label">Senior</span>
					</label>
				</td>
			</tr>
		</table>

		<table class="rush_schools">
			<tr>
				<td rowspan="2"><p>School(s):</p></td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-qst">
						<input type="checkbox" id="checkbox-qst" name="rushSchool[]" value="QST" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">QST</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-cas">
						<input type="checkbox" id="checkbox-cas" name="rushSchool[]" value="CAS" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">CAS</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-sha">
						<input type="checkbox" id="checkbox-sha" name="rushSchool[]" value="SHA" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">SHA</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-com">
						<input type="checkbox" id="checkbox-com" name="rushSchool[]" value="COM" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">COM</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-eng">
						<input type="checkbox" id="checkbox-eng" name="rushSchool[]" value="ENG" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">ENG</span>
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-cfa">
						<input type="checkbox" id="checkbox-cfa" name="rushSchool[]" value="CFA" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">CFA</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-cgs">
						<input type="checkbox" id="checkbox-cgs" name="rushSchool[]" value="CGS" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">CGS</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-sar">
						<input type="checkbox" id="checkbox-sar" name="rushSchool[]" value="SAR" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">SAR</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-pardee">
						<input type="checkbox" id="checkbox-pardee" name="rushSchool[]" value="Pardee" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">Pardee</span>
					</label>
				</td>
				<td>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-sed">
						<input type="checkbox" id="checkbox-sed" name="rushSchool[]" value="SED" class="mdl-checkbox__input" >
						<span class="mdl-checkbox__label">SED</span>
					</label>
				</td>
			</tr>
		</table>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input class="mdl-textfield__input" type="text" id="rushMajors" name="rushMajors"/>
			<label class="mdl-textfield__label" for="sample1">Major(s) / Concentration(s)</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input class="mdl-textfield__input" type="text" id="rushMinors" name="rushMinors"/>
			<label class="mdl-textfield__label" for="sample1">Minors(s) (Optional)</label>
		</div>
		<br>
		<button class="button" type="button" id="formSubmit" name="formSubmit">SUBMIT</button>
	</form>

</div>