<div class="vertical_padding title_section">
		<h1>Past Clients</h1>
		<div class="seperator"></div>
		<h2>Nu Chapter Consulting Group</h2>
	</div>
	
	<div class="vertical_padding center" style="padding-top: 0">
<!--		<p style="padding-bottom:40px" class="indented_text">Partners are alumni of Alpha Kappa Psi who either have worked or are currently working professionally as consultants. A Partner is assigned to each project that NCCG accepts and remains involved throughout the semester to ensure that significant value is added to each business.</p>-->
		<table class="nccg_client_table">
				{% for client in clients %}
					<tr>
						<td class="nccg_advisor_image_cell">
							<img src="{% static 'nccg/img/clients/{{client.company_name|lower}}_thumb.png' %}">
						</td>
						<td class="nccg_advisor_bio_cell">
							<h2 class="nccg_name"><strong>{{client.company_name}</strong>{{client.semester}}</h2>
							<div class="seperator"></div>
							<p>{{client.description}}</p>
						</td>
					</tr>
		{% endfor %}
		</table>
	</div>