.mdl-textfield__label {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
}

.mdl-textfield__input {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	text-indent: 20px;
}

.mdl-textfield {
	width: 100%;
	padding: 20px 0;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	color: #000033;
	font-weight: 700;
}

.mdl-textfield__label:after {
	background-color: #000033;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
	border-color: #000033;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline, .mdl-checkbox__ripple-container .mdl-ripple {
	background: #000033;
}

.blue_background .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .blue_background .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	color: #FFFFFF;
	font-weight: 700;
}

.blue_background .mdl-textfield__label:after {
	background-color: #FFFFFF;
}

.blue_background .mdl-textfield__input {
	border-bottom-color: rgba(255,255,255,.5);
}

.mdl-radio {
	line-height: 20px;
}
.mdl-radio.is-checked .mdl-radio__outer-circle {
	border-color: #000033;
}
.mdl-radio.is-checked .mdl-radio__inner-circle {
	background-color: #000033;
}
.mdl-radio__ripple-container .mdl-ripple {
	background-color: #000033;
}