{% load static %}

<div class="vertical_padding title_section">
		<h1>Nu Chapter Consulting Group</h1>
		<div class="seperator"></div>
		<h2>Student-Run Consulting Services</h2>
	</div>
	
	<div class="center vertical_padding">
		<p>
			<img src="{% static 'nccg/img/logo.png' %}" style="float:right; padding-left:20px" height="200">
			Nu Chapter Consulting Group is a student consulting group that was founded by Alpha Kappa Psi at Boston University in 2012. The group provides consulting services in the fields of finance, accounting, marketing, operations management, and information systems to small and medium sized businesses and startups like yours.
			<br><br>
			We have 4 critical advantages:
			<br><br>
		</p>
		<p class="indented_text">
			<strong>1.</strong> A team of professional, bright, high energy students, many with <strong>internship backgrounds with major organizations such as McKinsey and IBM</strong>. Membership requires demonstrated academic achievement in business studies.
		</p><br><p class="indented_text">
		<strong>2.</strong> Most critically, we are <strong>backed by mentors from the business studies faculty at Questrom School of Business</strong>, current or former management consultants and venture capitalists and/or senior entrepreneurs who have built successful businesses from the ground up. Our mentors support and help quality control our work throughout the project.
		</p><br><p class="indented_text">
		<strong>3.</strong> Our team and our mentors are <strong>happy to be bound by all reasonable confidentiality agreements</strong>.
		</p><br><p class="indented_text">
		<strong>4.</strong> <strong>We don't charge for our services</strong>. If we aren't adding value send us away. 
		</p><br><p>
			We are currently seeking to develop additional relationships where owners and managers believe Nu Chapter can add value. We invite you to email us at <a href="mailto:nuchapterconsultinggroup@gmail.com">nuchapterconsultinggroup@gmail.com</a> to find out more about how we can help your startup through the next step in development.
		</p>
	</div>
	
	<div class="blue_background vertical_padding">
		<div class="center">
			<h3><strong>Mission Statement</strong></h3>
			<div class="gold_seperator_small"></div>
			<p class="quote">"Our mission is to bring together the best of our Brothers' knowledge, creativity, and problem solving skills to provide innovative solutions to complex problems for our clients. Secondly, we strive to prepare our members for future success by providing them with experiences that will enhance their business acumen and make them leaders and innovators in their chosen fields."</p>
		</div>
	</div>
	
	<div class="vertical_padding center">
		<h2><strong>Testimonials</strong></h2>
		<div class="seperator"></div>
		<table class="testimonial_table">
			<tr>
				<td>
					<img src="{% static 'nccg/img/clients/whos_that.png' %}" width="300">
				</td>
				<td>
					<p><em>"Working with Nu Chapter gave us an incredible level of clarity in terms of product development. They went well beyond the initial scope of the project and addressed not only what features in the app would increase engagement and lead to monetization, but which potential features would make users want to share the app with friends, and categorized their thinking in terms of novelty, social currency and game mechanics. They backed their theories with pertinent data and gave us a very clear set of objectives moving forward, which we needed. Working with Nu Chapter was particularly beneficial for us, because their team clearly understands the future of consumer facing technology as well as, if not better than some senior level executives."</em></p>
					<br><p class="indented_text">- Sam Davidson, Founder of Who's That</p>
				</td>
			</tr>
			<tr>
				<td colspan="2"><div class="table_seperator"></div></td>
			</tr>
			<tr>
				<td>
					<img src="{% static 'nccg/img/clients/viral_gains.png' %}" width="300">
				</td>
				<td>
					<p><em>"Nu Chapter Consulting Group is a fantastic resource to emerging startups in Boston. The intelligent group of students from Boston University that participate in NCCG are able to address a wide range of projects. For our team, they did a study on the growing M&amp;A activity in the ad tech market. The NCCG team did a good job and submitted information that is valuable for us in the long term."</em></p>
					<br><p class="indented_text">- Jay Singh, Co-founder of ViralGains</p>
				</td>
			</tr>
		</table>
	</div>