{% load static %}

<div class="vertical_padding title_section">
		<h1>Nu Chapter Consulting Group</h1>
		<div class="seperator"></div>
		<h2>Student-Run Consulting Services</h2>
	</div>
	
	<div class="center vertical_padding">
		<p>
			<!-- <img src="{% static 'sfg/img/logo.png' %}" style="float:right; padding-left:20px" height="200"> -->
			Sapphire Finance Group was founded by four Nu Chapter brothers in 2020 with the goal of helping students earn offers at top tier financial institutions. Whether investment banking, markets, corporate finance, asset management, or any other field of finance, the group aims to give students the tools they need to succeed in interviews and internships. 
			<br><br>
			We offer the following:
			<br><br>
		</p>
		<p class="indented_text">
			<strong>1.</strong> Invested mentorship from a team of students who have worked in the banking and financial services industry. 
		</p><br><p class="indented_text">
		<strong>2.</strong> The opportunity to learn more about all realms of finance. 
		</p><br><p class="indented_text">
		<strong>3.</strong> Interview preparation including workshops, mock interviews, and projects. 
		</p><br><p class="indented_text">
		<strong>4.</strong> Networking and on-the-job advice to ensure students succeed after earning an offer. 
	</div>
	
	<div class="blue_background vertical_padding">
		<div class="center">
			<h3><strong>Mission Statement</strong></h3>
			<div class="gold_seperator_small"></div>
			<p class="quote">"In development"</p>
		</div>
	</div>

	<div class="vertical_padding" id="comps">
		<h2 class="center">Placements</h2>
		<div class="seperator"></div>
		<table>
			<tr>
				<td>
					<img class="imgCell0" src="{% static 'sfg/img/placements/kbcm.png' %}">
				</td><td>
					<img class="imgCell1" src="{% static 'sfg/img/placements/ubs_cropped.png' %}">
				</td><td>
					<img class="imgCell3" src="{% static 'sfg/img/placements/santander.png' %}">
				</td><td>
					<img class="imgCell4" src="{% static 'sfg/img/placements/citigroup_cropped.png' %}">
				</td>
			</tr>
		</table>
	</div>