<div id="{{ navbar_class }}">
	<h1><a href="">Alpha Kappa Psi <a style="color:#bda75d; font-weight:500" href="">Nu Chapter</a></a></h1>

	{% if sep %}
	<div class="gold_seperator" style="margin-top:0px; margin-bottom:0px;"></div>
	{% endif %}

	<ul>
		<li>
			<p><a href="/about">About</a></p>
		</li><li>
			<div class="dropdown" style="left:{{ left.0 }}">
				<div class="arrow-up"></div>
				<ul>
					<li><p><a href="/brothers/">Active</a></p></li>
					<!-- <li><p><a href="/brothers/alumni">Alumni</a></p></li> -->
					<!-- <li><p><a href="/brothers/faculty">Faculty</a></p></li> -->
				</ul>
			</div>
			<p><a href="/brothers/">Brothers</a></p>
		</li><li>
		<p><a href="/rush/" style="color:#bda75d">Rush</a></p>
		</li><li style="display:none">
		<p><a href="/elevate">Elevate</a></p>
		</li><li>
			<div class="dropdown" style="left:{{ left.1 }}">
				<div class="arrow-up"></div>
				<ul>
					<li><p><a href="/nccg/">About</a></p></li>
					<li><p><a href="/nccg/team">The Team</a></p></li>
					<!-- <li><p><a href="/nccg/advisors">Advisors</a></p></li> -->
					<!-- <li><p><a href="/nccg/partners">Partners</a></p></li> -->
					<!-- <li><p><a href="/nccg/clients">Clients</a></p></li> -->
				</ul>
			</div>
			<p><a href="/nccg/">NCCG</a></p>
		</li><li>
			<div class="dropdown" style="left:{{ left.2 }}">
				<div class="arrow-up"></div>
				<ul>
					<li><p><a href="/eye2eye/">About</a></p></li>
					<li><p><a href="/eye2eye/board">Board of Directors</a></p></li>
					{# <li><p><a href="/eye2eye/research">Research Team</a></p></li> #}
					<li><p><a href="/eye2eye/blog/">Research Blog</a></p></li>
				</ul>
			</div>
			<p><a href="/eye2eye/">Eye2Eye</a></p>
		</li><li>
			<p><a href="/sig">SIG</a></p>
		</li><li>
			<p><a href="/faq">FAQ</a></p>
		</li><li>
			<p><a href="/contact">Contact Us</a></p>
		</li>
	</ul>
</div>
